body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    background-color: #FFFFFF;
}

.header_logo_link {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4d5ae5;
    text-decoration: none;
}

.header_logo_link span {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2e2f42;
}

.header_menu_link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    text-decoration: none;
}

.header_menu_link:active,
.header_menu_link:hover,
.header_menu_link:focus {
    color: #404BBF;
    font-style: normal;
}

.addres {
    font-style: normal;
}
.address_link {
    font-style: normal;
    color: #434455;
    text-decoration: none;
    
}

.address_link:active,
.address_link:focus,
.address_link:hover {
    font-style: normal;
    color: #404BBF;
}

.page_title_name {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.page_title {
    background-color: #2E2F42;
}

.service_button {
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}

.service_button:hover,
.service_button:active,
.service_button:focus {
    background: #404BBF;
}

.core_values_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text_core_values {
    color: #434455;
}

.our_team {
    background-color: #F4F4FD;
}

.our_team_title {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.employee_list_item {
    background-color: #FFFFFF;
}
.employee{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    text-align: center;
}
.jobtitle{
    color: #434445;
}
.portfolio {
    background: #FFFFFF;
}

.portfolio_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42
}

.portfolio_subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}
.portfolio_text{
    color: #434455;   
}
.footer {
    background-color: #2E2F42;
}

.footer_logo_link {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4d5ae5;
    text-decoration: none;
}

.footer_logo_link_span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: left;
    color: #f4f4fd;
}

.footer_text {
    color: #F4F4FD;
}